<template>
    <require from="../header/header-nav-bar"></require>
    <require from="../../common/tables/custom-table"></require>

    <header-nav-bar router.bind="router" class="header"></header-nav-bar>
    <div class="mainBody">
        <div class="row justify-content-end containerTicket headerRowFontSize">
            <div class="col-9">
                <span>Tickets for Round: <b>${roundId}</b></span> ||
                <span>WinningCombination: <b>${winningCombination.winningCombination}</b></span>
            </div>
        </div>
        <custom-table table-id="roundTicketsTable" items.bind="ticketsByroundId" entity="roundTickets" columns.bind="ticketsByRoundColumns">
        </custom-table>
    </div>
</template>